@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <address>
        <p>Para consultas del programa, contactar con los siguentes administradores y el equipo de quejas</p>
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:erickmartbre@gmail.com">Erick Martínez</a><br/>
        <strong>Support:</strong> <a href="mailto:erick.no1999@gmail.com">Erick Núñez</a><br/>
        <strong>Support:</strong> <a href="mailto:Akane26allen@gmail.com ">Akane Santamaria</a><br/>
        <strong>Support:</strong> <a href="mailto:josephgabocm@gmail.com">Joseph Cascante</a><br/>
        <strong>Support:</strong> <a href="mailto:rodriguezm061@gmail.com">Marvin Ramos</a><br/>
        <strong>Quejas:</strong> <a href="mailto:abenjamin@edu.upolitecnica.cr">Quejas</a><br/>
    </address>
</main>